html{ 
    background-image: -webkit-linear-gradient(to bottom,white 0%, #facd8a 100%); 
    background-image: -moz-linear-gradient(to bottom,
    white 0%,#facd8a 100%); 
    background-image: -o-linear-gradient(to bottom, white 0%, #facd8a 100%);
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%); 
    }
    body { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 100%; 
    width: 990px; 
    margin: 15px auto;
    background-color: white; 
    padding: 15px 0;  
    border: lpx solid black;  
    } 
    aside {  
    width: 350px;
    float:right;
    padding: 25px;
    background-color: #ffebc6;
    margin-right: 20px;}
    section, aside, hl, h2, h3, p { 
    margin: 0; 
    padding: 0; } 
    section, aside { 
    margin-top: l.5em;
    margin-bottom: lem; } 
    a { font-weight: bold; } 
    a:link { color: #931420; } 
    a:visited { color: #f2972e;} 
    a:hover, a:focus { color: blue; } 
    section { 
    width: 535px; 
    margin-left: 20px;
    padding-right: 25px; 
    float: right; } 
    section hl { 
    font-size: 170%; 
    margin-bottom: .35em; } 
    section h2 { 
    font-size: 130%; 
    margin-bottom: .35em; }
    p{
    padding: .25em 0;
    font-size: 95%;
    }
    li{
    padding-bottom: .35em;
    font-size: 95%;
    }
    ul { 
    margin-top: 0;
    margin-bottom: 1.5em;} 
    li, p { font-size: 95%; } 
    em { font-weight: bold; }  
    header{ 
    padding-bottom: 2em; 
    border-bottom: 2px solid #f2972e; } 
    header img {
    float: left;
    margin-left: 20px;} 
    header h2 { 
    font-size: 220%; 
    color: #f2972e; 
    text-align: center; 
    text-shadow: 2px 3px 0 black;
    margin-left: 120px;
    margin-bottom: .25em;
    } 
    header h3 {  
    font-size: 130%; 
    font-style: italic; 
    margin-left: 120px;
    }
    main {
    float: left; } 
    main hl { 
    font-size: 200%;
    font-weight: bold;
    margin: 1em 0 .35em} 
    main h2 { font-size: 130%;}
    #contact_us{margin-top: 1em;}
    a.date_passed { color: gray; }
    footer{ 
    clear:both;
    margin-top: 2em;
    border-top: 2px solid #f2972e;
    border-bottom:2px solid #f2972e;
    padding-top: .7em;}
    footer p { 
    font-size: 80%; 
    text-align: right; 
    margin-right: 20px;
    } 
    *{
    margin: 0; 
    padding: 0; }